{% extends "base.html" %}
{% block title %}GAE图片分享{% endblock %}
{% block head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    function clean(){
        $.get("/admin/clean/?action=real",
            function(data){
                if(data && parseInt(data)>0){
                    $('#log').append('<li>'+data+' was deleted!</li>')
                    clean();
                }else{
                    $('#log').append('<li>done!</li>')
                }
            }
        );
    }
    $('#clean').click(function(){
        clean();
    });
});
</script>
{% endblock %}

{% block main %}
    <input type="button" id="clean" value="Clean" title="Clean"/>
    <ol id="log"></ol>
{% endblock %}
</body>
</html>
