<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>多文件上传</title>
<link href="/static/swfupload/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/swfupload/swfupload.js"></script>
<script type="text/javascript" src="/static/swfupload/swfupload.cookies.js"></script>
<script type="text/javascript" src="/static/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="/static/swfupload/fileprogress.js"></script>
<script type="text/javascript" src="/static/swfupload/handlers.js"></script>

<script type="text/javascript">
		var swfu;
		window.onload = function () {
			swfu = new SWFUpload({
				// Backend Settings
				upload_url: "/admin/upload2/",

				// File Upload Settings
				file_size_limit : "5 MB",	// 5MB
				file_types : "*.jpg;*.jpeg;*.png;*.gif",
				file_types_description : "Image Files:*.jpg;*.jpeg;*.png;*.gif",
				file_upload_limit : "0",

				// Event Handler Settings (all my handlers are in the Handler.js file)
				file_dialog_start_handler : fileDialogStart,
				file_queued_handler : fileQueued,
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_start_handler : uploadStart,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadComplete,

				// Button Settings
				button_image_url: "/static/swfupload/XPButtonUploadText_61x22.png",
				button_placeholder_id : "spanButtonPlaceholder",
				button_width: 61,
				button_height: 22,

				
				// Flash Settings
				flash_url : "/static/swfupload/swfupload.swf",

				swfupload_element_id : "flashUI2",		// Setting from graceful degradation plugin
				degraded_element_id : "degradedUI2",	// Setting from graceful degradation plugin

				custom_settings : {
					progressTarget : "fsUploadProgress",
					cancelButtonId : "btnCancel"
				},
                
				// Debug Settings
				debug: false
			});
            //swfu.refreshCookies(true);
		};
	</script>
</head>
<body>
<h2><a href="/" title="图片列表">图片列表</a></h2>

<div>
    <div style="padding-left: 5px;">
        <span id="spanButtonPlaceholder"></span>
        <input id="btnCancel" type="button" value="Cancel" onclick="cancelQueue(swfu);" disabled="disabled" style="margin-left: 2px; height: 22px; font-size: 8pt;" />
        <br />
    </div>
    <div class="fieldset flash" id="fsUploadProgress">
        <span class="legend">点击”Upload“选择图片，可以使用Ctrl或Shift多选</span>
    </div>
</div>

</form>
</div>
<div id="imgPanal">
<ul id="imglist">
</ul>
</div>
</body>
</html>
